@model MVC_DangKyMonHoc.Models.MonHoc
<tr>
	<td width="25" align="center" valign="middle">
		
	</td>
	<td>
		@Html.DisplayFor(model=>model.MaMh)
	</td>
	<td>
		@Html.DisplayFor(model => model.TenMh)
	</td>
	<td>
		@Html.DisplayFor(model => model.Sotinchi)
	</td>
	<td>
		@Html.DisplayFor(model => model.HesoHp)
	</td>
	<td>
		@Html.DisplayFor(model => model.Thuchanh)
	</td>


</tr>
